otus_architecture_lab_3/.vs/
otus_architecture_lab_3/otus_architecture_lab_3/obj/Debug/
otus_architecture_lab_3/P1/obj/
working_dir/
otus_architecture_lab_3/P2/obj/
otus_architecture_lab_3/P1/bin/
otus_architecture_lab_3/P2/bin/
otus_architecture_lab_3/P1Tests/bin/
otus_architecture_lab_3/P1Tests/obj/
otus_architecture_lab_3/P2Tests/bin/
otus_architecture_lab_3/P2Tests/obj/
otus_architecture_lab_3/packages/MSTest.TestAdapter.1.3.2/build/
otus_architecture_lab_3/packages/
